body {
  position: relative;
  background-color: var(--black);
  font-family: 'TT Hoves', sans-serif;
  overflow-x: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

section {
  z-index: 3;
  width: 100%;
  padding: 0 12px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}